@using CertificateManager.Logic.UXLogic
@inject JavascriptConfigurationHelper jsConfig

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Certificate Manager">
    <meta name="author" content="Cory Murphy">



    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/sb-admin0.min.css" rel="stylesheet">
    <link href="~/css/jsgrid.min.css" rel="stylesheet">
    <link href="~/css/jsgrid-theme.min.css" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    @*<link href="~/lib/startbootstrap-sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/lib/startbootstrap-sb-admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="~/lib/datatables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">


    <!-- Custom styles for this template -->
    <link href="~/lib/startbootstrap-sb-admin/css/sb-admin.css" rel="stylesheet">

    <link href="~/lib/jsgrid/dist/jsgrid.min.css" rel="stylesheet">
    <link href="~/lib/jsgrid/dist/jsgrid-theme.min.css" rel="stylesheet">

    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet"/>

    <link rel="import" href="~/lib/paper-spinner/paper-spinner-lite.html" />*@


    <link href="/css/base.min.css" rel="stylesheet" />



    @*<link href="/css/base.min.css" rel="stylesheet" />

    <link href="/css/sb-admin.min.css" rel="stylesheet" />*@






    @RenderSection("Style", required:false)

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">Certificate Manager</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">
                            Dashboard
                        </span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-certificate"></i>
                        <span class="nav-link-text">
                            Private Certificates
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="/ca/private/certificates/request/views/new">New</a>
                        </li>
                        <li>
                            <a href="#">Sign</a>
                        </li>
                        <li>
                            <a href="static-nav.html">Pending</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-certificate"></i>
                        <span class="nav-link-text">
                            New Public Certificate
                        </span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-terminal"></i>
                        <span class="nav-link-text">
                            Applications
                        </span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">
                            Reports
                        </span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">
                            Users
                        </span>
                    </a>
                </li>



                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Settingds">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">
                            Settings
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                        <li>
                            <a href="/view/pki-config">PKI Configuration</a>
                        </li>
                        <li>
                            <a href="register.html">Certificate Manager General</a>
                        </li>
                        
                    </ul>
                </li>



                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Settingds">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSecurityPages" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-shield"></i>
                        <span class="nav-link-text">
                            Security
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseSecurityPages">
                        <li>
                            <a href="/view/security/auth-principals">Users</a>
                        </li>
                        <li>
                            <a href="register.html">Groups</a>
                        </li>
                        <li>
                            <a href="/view/security/roles">Roles</a>
                        </li>

                        <li>
                            <a href="/view/identity-sources/external">Identity Providers</a>
                        </li>
                    </ul>
                </li>



            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            Messages
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="new-indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                            <span class="number">12</span>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">New Messages:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>David Miller</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Jane Smith</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>John Doe</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">
                            View all messages
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    @Html.Partial("~/Views/Shared/_Alerts.cshtml")
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            
            @RenderBody()
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
    <!--<footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright &copy; Your Website 2017</small>
            </div>
        </div>
    </footer>-->
    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/base.min.js"></script>

    <script src="~/js/site.js"></script>

    <script>
        @Html.Raw(jsConfig.RenderIdentitySourcesJsonArray())
        @Html.Raw(jsConfig.RenderSecurityRolesJsonArray())
    </script>

    @RenderSection("Script", required:false);
</body>

</html>
