@using CertificateManager.Logic.UXLogic
@inject IClientsideConfigurationProvider jsConfig

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Certificate Manager">
    <meta name="author" content="Cory Murphy">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/certificate-manager.min.css" rel="stylesheet">

    @RenderSection("Style", required: false)

</head>

<body class="bg-dark">

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/js/base.min.js"></script>
    <script src="~/js/cm.min.js"></script>

    <script>
        @Html.Raw(jsConfig.RenderDynamicScript())
        @Html.Raw(jsConfig.RenderIdentitySourcesJsonArray())
        @Html.Raw(jsConfig.RenderSecurityRolesJsonArray())
        @Html.Raw(jsConfig.RenderLocalAuthenticationStateJsonArray())
    </script>

    @RenderSection("Script", required: false);
</body>

</html>