

@using CertificateManager.Logic.UXLogic
@inject IClientsideConfigurationProvider jsConfig

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Certificate Manager">
        <meta name="author" content="Cory Murphy">

        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/jsgrid.min.css" rel="stylesheet">
        <link href="~/css/jsgrid-theme.min.css" rel="stylesheet">
        <link href="~/css/select2.min.css" rel="stylesheet" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/sb-admin-full.css" rel="stylesheet">
        <link href="~/css/certificate-manager.min.css" rel="stylesheet">

        @RenderSection("Style", required: false)

    </head>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <a class="navbar-brand" href="/home/index">Certificate Manager</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                @Html.Partial("~/Views/Shared/Helpers/_VerticalNavbar.cshtml")

                @Html.Partial("~/Views/Shared/Helpers/_HorizontalNavbar.cshtml")

            </div>
        </nav>
        <div class="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

        <script src="/js/base.min.js"></script>
        <script src="/js/cm.min.js"></script>
        <script src="~/js/Chart.bundle.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/bootstrap-table.min.js"></script>
        <script>
            @Html.Raw(jsConfig.RenderDynamicScript())
            @Html.Raw(jsConfig.RenderIdentitySourcesJsonArray())
            @Html.Raw(jsConfig.RenderSecurityRolesJsonArray())
            @Html.Raw(jsConfig.RenderLocalAuthenticationStateJsonArray())
            @Html.Raw(jsConfig.RenderScopeMap())
            @Html.Raw(jsConfig.RenderIdentityTypes())
            @Html.Raw(jsConfig.RenderAceTypes())
        </script>

        @RenderSection("Script", required: false);

    </body>

</html>